<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQrq8Kxfe77JjdooQ_S3AQuMHBakMApKw</string>
	<key>GCM_SENDER_ID</key>
	<string>476637150536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elliottxharris.myKitchen</string>
	<key>PROJECT_ID</key>
	<string>my-kitchen-89895</string>
	<key>STORAGE_BUCKET</key>
	<string>my-kitchen-89895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476637150536:ios:345df5172a134a1ac4477d</string>
</dict>
</plist>